@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AzeretMonoBlackItalic';
  src: url('./src/assets/AzeretMono_Complete/AzeretMono_Complete/Fonts/WEB/fonts/AzeretMono-BlackItalic.woff2');
}


@font-face {
  font-family: 'AzeretMonoRegular';
  src: url('./src/assets/AzeretMono_Complete/AzeretMono_Complete/Fonts/WEB/fonts/AzeretMono-Regular.woff');
}

@font-face {
  font-family: 'AzeretMonoBold';
  src: url('./src/assets/AzeretMono_Complete/AzeretMono_Complete/Fonts/WEB/fonts/AzeretMono-Bold.woff');
}